@font-face {
    font-family: Google_sans;
    src: url(fonts/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: Google_sans_bold;
    src: url(fonts/GoogleSans-Bold.ttf);
}

@font-face {
    font-family: Google_sans_italic;
    src: url(fonts/GoogleSans-Italic.ttf);
}

* {
    font-family: Google_sans, Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7CF571;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: Google_sans_bold, Arial, Helvetica, sans-serif;
}

#HelloTitlle {
    font-size: 40px;
}

#MultiTable {
    font-size: 23px;
    position: absolute;
    top: 40px;
    right: 120px;
}

#container {
    width: 90%;
    height: 92%;
    border-radius: 90px;
    background: #ffffff;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#block,
#caseBlock,
#ExamplesBlock {
    width: calc(100% - 90px);
    height: calc(100% - 70px);
}

#caseBlock {
    position: relative;
}

#ChangeParameters {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */
}

form {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

form div {
    margin: 15px 0 0 0;
}


#ChangeNumbersSize {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

}

form div input[type="text"] {
    font-size: 20px;
    height: 28px;
    width: 70px;
    margin: 0 5px;
    padding: 0 7px;
    color: #1B7513;
    background: rgba(124, 245, 113, 0.3);

    border-radius: 22px;

    border: 2px solid #25DF14;
}

form div input[type="text"]:focus {
    background: rgba(124, 245, 113, 0.55);
    outline: none;
    color: #1B7513;
    border: 2px solid #25DF14;
}

input[type="checkbox"],
label {
    font-size: 22px;
    cursor: pointer;
}

label {
    border-radius: 22px;
    padding: 0 5px;
}

#FullScreen {
    cursor: pointer;
}

label.incorrectly {
    background-color: #F57171 !important;
    color: #891212 !important;
    border-radius: 15px !important;
}

input[type='text'].incorrectly {
    background: #F57171 !important;
    border: 2px solid #DF1414 !important;
    color: #891212 !important;
}

input[type="button"] {
    margin-top: 15px;
    font-size: 20px;
    padding: 12px 17px;
    color: black;
    background: #7CF571;

    border-radius: 22px;
}

input[type="button"]:hover {
    padding: 9px 14px;
    background: rgba(124, 245, 113, 0.55);
    outline: none;
    color: black;
    border: 3px solid #25DF14;
}

#case {
    width: 90%;
    height: 92%;
    border-radius: 90px;
    background: #ffffff;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.HelloStudent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#HelloStudent {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#HelloStudent h1 {
    font-size: 46px;
}

#HelloStudent h2 {
    font-size: 36px;
}

#HelloStudent h1,
#HelloStudent h2 {
    margin-bottom: 10px;
}

#HelloStudent input[type="text"] {
    font-size: 23px;
    height: 35px;
    width: 200px;
    margin: 0 5px;
    padding: 0 7px;
    color: #1B7513;
    background: rgba(124, 245, 113, 0.3);

    border-radius: 22px;

    border: 2px solid #25DF14;
}

#HelloStudent input[type="text"]:focus {
    background: rgba(124, 245, 113, 0.55);
    outline: none;
    color: #1B7513;
    border: 2px solid #25DF14;
}

#ExamplesBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#statusBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 60%;
    height: 90px;
    border-radius: 50px;
    background: #7CF571;
}

#progress {
    position: relative;
    width: 90%;
    height: 60px;
    border-radius: 30px;
    background: #E3E3E3;
}

#realProgress {
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.23, 0.6, 0.7, 1);
    height: 100%;
    min-width: 60px;
    width: 0%;

    border-radius: 30px;
    background: #7CF571;
}

#exampleBody {
    margin: 0 0 0 60px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

#exampleBody p {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: left;
}

#ExampleDiv {
    display: flex;
    flex-direction: row;
}

#Example {
    font-size: 50px !important;
}

#ExampleInput {
    margin-left: 5px;
    width: 120px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 45px;
    padding: 3px 10px;
    outline: none;
    color: #1B7513;
    background: rgba(124, 245, 113, 0.5);

    border-radius: 22px;
}

#ExampleInput:focus {
    padding: 0px 7px;
    transition: border 0.2s, padding 0.2s;
    border: 3px solid #25DF14;
    height: 60px;
    margin-bottom: 10px;
}

#NextExample {
    transition: color 0.4s, background-color 0.4s, border 0.2s;
    margin: 0 0 10px 20px;
    font-size: 40px;
    height: 66px;
    width: 200px;
    padding: 7px 10px;
    color: #1B7513;
}

#NextExample:hover {
    transition: color 0.4s, background-color 0.4s, border 0.2s;
    border: 5px solid #25DF14;
    width: 200px;
    padding: 2px 10px;
    color: black;
}

#NextExample:focus {
    outline: none;
}

input,
label {
    transition: background-color .4s, color .4s;
}

#AnswersBlock {
    width: 100%;
    height: 100%;
    margin: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#AnswersBlock div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
    width: 90%;
    height: auto;
}
#StudentName2{
    margin: 30px 0 10px 0;
}
#AnswersBlock div p{
    font-size: 30px;
    text-align: center;
}
.Number {
    width: 5%;
}
.ExamplesList {
    width: 45%;
}
.UserAnswer{
    width: 20%;
}
.CorrectAnswer {
    width: 20%;
}