@font-face {
    font-family: Google_sans;
    src: url(fonts/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: Google_sans_bold;
    src: url(fonts/GoogleSans-Bold.ttf);
}

@font-face {
    font-family: Google_sans_italic;
    src: url(fonts/GoogleSans-Italic.ttf);
}

* {
    font-family: Google_sans, Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7CF571;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: Google_sans_bold, Arial, Helvetica, sans-serif;
}

#HelloTitlle {
    font-size: 40px;
}

#MultiTable {
    font-size: 23px;
    position: absolute;
    top: 40px;
    right: 120px;
}

#container {
    width: 90%;
    height: 92%;
    border-radius: 90px;
    background: #ffffff;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#block {
    width: calc(100% - 90px);
    height: calc(100% - 70px);
}

#ChangeParameters {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */
}

form {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

form div {
    margin: 15px 0 0 0;
}


#ChangeNumbersSize {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

}

form div input[type="text"] {
    font-size: 20px;
    height: 28px;
    width: 70px;
    margin: 0 5px;
    padding: 0 7px;
    color: #1B7513;
    background: rgba(124, 245, 113, 0.3);

    border-radius: 22px;

    border: 2px solid #25DF14;
}

form div input[type="text"]:focus {
    background: rgba(124, 245, 113, 0.55);
    outline: none;
    color: #1B7513;
    border: 2px solid #25DF14;
}

input[type="checkbox"],
label {
    font-size: 22px;
    cursor: pointer;
}

label {
    padding: 0 5px;
    /* margin: 0 9px 0 0; */
}

#FullScreen {
    cursor: pointer;
}

label.incorrectly {
    background: #F57171 !important;
    color: #891212 !important;
    border-radius: 15px !important;
}

input[type='text'].incorrectly {
    background: #F57171 !important;
    border: 2px solid #DF1414 !important;
    color: #891212 !important;
}

input[type="button"] {
    margin-top: 15px;
    font-size: 20px;
    padding: 12px 17px;
    color: black;
    background: #7CF571;

    border-radius: 22px;
}

input[type="button"]:hover {
    padding: 9px 14px;
    background: rgba(124, 245, 113, 0.55);
    outline: none;
    color: black;
    border: 3px solid #25DF14;
}

#case {
    width: 90%;
    height: 92%;
    border-radius: 90px;
    background: #ffffff;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.HelloStudent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#caseBlock {
    position: relative;
    width: calc(100% - 90px);
    height: calc(100% - 70px);
}

#HelloStudent {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#HelloStudent h1{
    font-size: 46px;
}
#HelloStudent h2{
    font-size: 36px;
}
#HelloStudent h1,
#HelloStudent h2 {
    margin-bottom: 10px;
}

#HelloStudent input[type="text"] {
    font-size: 23px;
    height: 35px;
    width: 200px;
    margin: 0 5px;
    padding: 0 7px;
    color: #1B7513;
    background: rgba(124, 245, 113, 0.3);

    border-radius: 22px;

    border: 2px solid #25DF14;
}

#HelloStudent input[type="text"]:focus {
    background: rgba(124, 245, 113, 0.55);
    outline: none;
    color: #1B7513;
    border: 2px solid #25DF14;
}